/*Entire body*/
body  {
  background-image: linear-gradient(to bottom right, skyblue, whitesmoke);
  /*background-color: skyblue;*/
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;
  place-items: center;
  text-align: center;
}

/*Removing scrollbar*/
::-webkit-scrollbar {
  display: none;
}

/*Image*/
.crop-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: border-radius 0.2s;
}

.crop-img:hover {
  border-radius: 0%;
}

/*Name and title*/
.name {
  margin: 5px 0 5px 0;
}

.name-under {
  margin: 0 0 1em 0;
}

/*Social icon*/
.social-icon {
  transition: color, font-size 0.2s;
  text-decoration: none;
  margin: 0 3px;
  font-size: 3em;
  color: white;
}

.link {
  transition: color 0.2s;
  color: white;
  text-decoration: underline;

}

.link:hover {
  color: whitesmoke;
  text-decoration: none;
}

.social-icon:hover {
  color: whitesmoke;
  font-size: 3.5em;
}

.social-icon-line {
  line-height: 4.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Experiences*/
.experience {
  margin: 0 0 32px 0;
}

.experience-top {
  margin: 0 0 2px 0;
}

.experience-name {
  margin: 0 0 2px 0;
}

.experience-under {
  margin: 0 0 2px 0;
}

.experience-date {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.experience-rubric {
  margin: 0 0 2px 0;
}

.experience-para {
  margin: 0 0 5px 0;
  font-size: 12px;
}

.project {
  margin: 0 0 2px 0;
}

.navigation {
  transition: color 0.2s;
  color: white;
  text-decoration: underline;

}

.navigation:hover {
  color: whitesmoke;
  text-decoration: none;
}
