body  {
  background-image: linear-gradient(to bottom right, skyblue, whitesmoke);
  text-align: center;
  /*background-color: skyblue;*/
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.crop-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: border-radius 0.2s;
}

.crop-img:hover {
  border-radius: 0%;
}

.experience {
  margin: 0 0 32px 0;
}

.experience-name {
  margin: 0 0 2px 0;
}

.experience-under {
  margin: 0 0 2px 0;
}

.experience-date {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.experience-rubric {
  margin: 0 0 2px 0;
}

.experience-para {
  margin: 0 0 5px 0;
  font-size: 12px;
}

.social-icon {
  transition: color, font-size 0.2s;
  text-decoration: none;
  margin: 0 3px;
  font-size: 3em;
  color: white;
}

.social-icon:hover {
  color: whitesmoke;
  font-size: 3.5em;
}

.social-icon-line {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 4.5em;
}